.edit_pupil .edit_pupil_input::-webkit-input-placeholder {
  text-align: right;
}

.edit_pupil .edit_pupil_input:-moz-placeholder {
  text-align: right;
}
.edit_pupil .go_back {
  margin-left: 6vw;

  margin-bottom: 10px;
  height: 42px;
  width: 125px;
}
.edit_pupil .label_and_input {
  position: relative;
}
.edit_pupil label {
  position: absolute;
  top: 9px;
  right: -110px;
  opacity: 50%;
  font-size: 14px;
  color: red;
  display: block;
  width: 100px;
  text-align: end;
}
.edit_pupil .span_icon_gear {
  left: 0px;
}
.edit_pupil .icon_gear {
  height: 30px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes example {
  100% {
    transform: rotate(360deg);
  }
}
